*,
*::before
*::after{
    box-sizing:border-box;
}
body {
    background: rgb(32, 32, 32);
    color: rgb(252, 252, 252);

}
::selection {
    background-color: rgb(92, 92, 92);
}
header {
    /* background-color: rgba(85, 214, 170, .85); */
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-size: 16px;
    font-weight:400;
    color: rgb(0, 0, 0);
}

/* styling navlist */
#navlist {
    background-color: rgb(32, 32, 32);
    position: fixed;
    top: 0%;
    width: 100%;
    border-bottom: 1px dashed rgb(236, 236, 236);
    transition: max-height .2s ease-out;
}
       
/* styling navlist anchor element */
#navlist a {
    float:left;
    display: block;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 9px;
}
.btn::after{
    content: "";
    display: block;
    background-color: #f0ad4e;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;
}

.btn:hover{
    color: #5bc0de;
}
.btn:hover::after{
    width: 100%;

}
.btn {
    color: rgb(236, 236, 236);
    margin-right: 7px;
    border-radius: 17px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.navlist-right{
    float:right;
}

/* hover effect of navlist anchor element */
/* .btn:hover {
    background-color: rgba(2, 179, 76, 0.88);
    color: rgb(196, 50, 50); */

.btn a:hover {
    color: rgb(19, 19, 19);
}
img {
    position: absolute;
    top: 11%;
    width: 92px;
    height: 40px;
}
.logo {
    display: inline;
    user-select: none;
}
.navbar-brand {
    margin: auto;
}
.logo {
    display: inline;
    text-align: center;
    margin-right: 80px;
    margin-left: 2px;
    margin-top: 0px !important;
    font-family: 'Dancing Script', cursive;
    font-size: 27px !important;
    color:white !important;
}

/* @media screen and (max-width : 600px) {
    navlist {
        display: block;
    }
} */
